@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}
@if(TempData["Created"] is not null)
{
    <div class="alert alert-success">
        @TempData["Created"]
    </div>
}
@if (TempData["Deleted"] is not null)
{
    <div class="alert alert-danger">
        @TempData["deleted"]
    </div>
}

<h1>All Employee</h1>
<br/>
<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Create New Employee</a>

<br/>

<div class="row justify-content-center align-items-center mt-5">
    <form asp-action="Index" class="row col-9 offset-1">
        <div class="col-8">
            <input type="text" class="form-control" name="searchInp" placeholder="Search By Name"/>
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success"/>
        </div>
    </form>
</div>


@if(Model.Count()>0)
{
    <table class ="mt-4 table table-striped table-hover">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(D => D.Name)</th>
                <th> @Html.DisplayNameFor(D => D.Age)</th>
                <th> @Html.DisplayNameFor(D => D.Salary)</th>
                <th> @Html.DisplayNameFor(D => D.Department)</th>
                <th> @Html.DisplayNameFor(D => D.IsActive)</th>
                <th> @Html.DisplayNameFor(D => D.Gender)</th>
                <th> @Html.DisplayNameFor(D => D.Email)</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>


            </tr>
        </thead>
        <tbody>
            @foreach(var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Age</td>
                    <td>@Html.DisplayFor(M => employee.Salary)</td>
                    <td>@Html.DisplayFor(M => employee.Department.Name)</td>
                    <td>@Html.DisplayFor(M => employee.IsActive)</td>
                    <td>@employee.Gender</td>
                    <td>@Html.DisplayFor(M => employee.Email)</td>

                    <partial name="_ButtonsPartial" model="@employee.Id" />
                </tr>
            }
        </tbody>
    </table>
    

}
else
{
    <div class="mt-4 alert alert-warning">
        <h3> There is No Employee :( </h3>
    </div>
}